<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <h1 class="m-5">Somos una empresa de animacion digital profesional <br>
        que busca lograr darle una buena impresion a nuestros clientes
    </h1>
    <video controls autoplay muted src="video/blender.mp4"></video>
    
    <%- include ('partials/footer') %>
</body>
</html>