<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body class="text-center">
    <%- include ('partials/navigation') %>
    <h1 class="" style="margin: 3rem;">Animope es una agencia de tecnología interactiva con más de 17 años de experiencia. Nos especializamos en la producción de contenido multimedia inmersivo que ayuda a las organizaciones a elevar su marca y expandir su presencia en el mundo del marketing y del metaverso.
    </h1>
    <video style="height: 30rem; width: 90vw;" autoplay muted loop src="video/blender.mp4"></video>
    <h1 style="margin: 3rem;">Apoyamos la comprensión del ser, la colaboración, y somos unos apasionados por el trabajo con jóvenes profesionales talentosos y equipos multiculturales. Nuestro compromiso con la excelencia y la creatividad es evidente en todo lo que hacemos, y nos enorgullece ofrecer soluciones de alta calidad que superan las expectativas de nuestros clientes.</h1>

    
    <%- include ('partials/footer') %>
</body>
</html>